
@import url(https://fonts.googleapis.com/css?family=Pacifico);


// variables
$translucent-white: rgba(255,255,255,0.3);
$icon-square-length: 300px;
$standard-border: 4px solid black;



.header {
    height: 100px;
    background: rgb(180, 218, 240);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    h1 {
        font-family: Pacifico, sans-serif;
        text-align: center;
        color: rgb(253, 178, 48);
      }

}